[flake8]

exclude=
    .gitignore,
    __pycache__,
    data/,
    reports/,
    README.md,
    requirements.txt,
    venv/

filename =
    main.py,
    swiss_chess_manager/


max-line-length = 119
max-doc-length = 119

max-complexity = 10
